body {
  background-color: black;
}

h1 {
  color: Gray;
  text-align: center;
  font-family: Verdana;
  font-size: 40px;
}

p {
  color: White;
  text-align: center;
  font-family: Verdana;
  font-size: 25px;
}
